.logo {

    font-family: 'Inter', sans-serif;
}


.voltar {

    font-family: 'Inter', sans-serif;
}

.voltar:hover {
    

    cursor: pointer;
   
}
.input-container { 

    font-family: 'Inter', sans-serif;
    height: 30px;
    
    
    

}

.add-btn{
    font-family: 'Inter', sans-serif;
    background-color: #CA3884;
    border-radius: 6px;
    height: 30px;

}

.add-btn:hover {
    background-color: #e2dbdf;

    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tipo1, .tipo2, .tipo3, .tipo4, .tipo5{

    font-family: 'Inter', sans-serif;
}

nav {
    
    margin-left:700px;
    
    margin-top: 10rem;
}

header {

    margin-top: 2rem;

    margin-bottom: 70px;

    margin-left:700px;
}
main
  {


margin-right: 100px;

  }



  .delete-btn {
    background-color: #CA3884;

    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;

  }

  .delete-btn:hover {background-color: #e2dbdf;

    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }


  input {
    width: 30rem;
    height: 30px;
    border-radius: 6px;
  }


  li {

   
    list-style-type: none; /* Remove os marcadores de lista (pontos) */
    
  }


  a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #A8326E;
}

.checkbox {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #CA3884;
    border-radius: 3px;
    transition: all 0.3s ease;
    margin-right: 10px;
    vertical-align: middle; /* Alinha verticalmente com o texto */
}

.checkbox:checked + label .custom-checkbox {
    background-color: #CA3884;
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.lista-compras {
    list-style-type: none;
    padding: 0;
}

.lista-compras li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.lista-compras .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;

    color: #CA3884;
}

.lista-compras .delete-btn:hover {

    

    
    color: #A8326E;
}
/*delelte-btn {
 align-items: baseline;
}

*/
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #A8326E;


}


.lista-compras li {
    display: flex;
   
    margin-bottom: 10px;

    margin-left: 800px;
}

.lista-compras .checkbox {
    margin-right: 20px; /* Reduz a margem entre o checkbox e o botão */
  
}

.lista-compras .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 100px;
    color: #CA3884;

   align-content: center;
}