.logo {

    font-family: 'Inter', sans-serif;
}


.voltar {

    font-family: 'Inter', sans-serif;
}

.input-container { 

    font-family: 'Inter', sans-serif;
}

.add-btn {
    font-family: 'Inter', sans-serif;
}

.tipo1, .tipo2, .tipo3, .tipo4 {

    font-family: 'Inter', sans-serif;
}



header {

    margin-top: 10rem;

    margin-bottom: 70px;

    margin-left: 850px;
}
main
  {


margin-left: 850px;

  }